header {
    display: flex;
    justify-content: space-between;
}

.high-scores {
    font-size: 20px;
    font-weight: bold;;
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 4px #3500D3 solid;
    margin: 200px;
    box-shadow: 6px 6px 0 black;
}


